.hero-imagelogin {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    transition: 100ms ease-in-out;
    margin-bottom: 0px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.buttonscontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 75px 0px;
}

.loginwrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}
.loginwrapper h2 {
    display: flex;
}
.loginwrapper button {
    background-color: rgb(40, 175, 118);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
html {
    overflow-y: scroll;
}
.rememberme {
    display: flex;
    float: left;
    width: 33%;
    line-height: normal;
    width: 100%;
    justify-content: space-between;
}
.rememberme label {
    font-size: 13px;
}

#forgotlink:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
    opacity: 1;
}
.backBtn {
    background-color: transparent;
}
span {
    background-color: #f7dddc;
    border-radius: 5px;
    color: #712b29;
    margin: 10px 0px;
}
