@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

.hero-image1 img {
    max-width: 130px;
    margin: auto;
}

.hero-text1 h1 {
    font-size: 50px;
    margin: 0;
}

.hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("https://images.pexels.com/photos/38870/pexels-photo-38870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    /* background-color: #47b382; */
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 00%, 100% 0, 100% 90%, 0% 100%);

    transition: 100ms ease-in-out;
    margin-bottom: 0px;
}

.hero-text1 {
    text-align: center;
    position: absolute;
    top: 40%;
    font-size: larger;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text1 button {
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    background-color: #4ebceb;
    cursor: pointer;
    border: 1px solid transparent;
}

.hero-text1 button:hover {
    background-color: white;
    color: black;
}

.hero-button1 {
    display: flex;

    justify-content: space-around;
}

html {
    overflow-y: scroll;
}

.contenth1 h2 {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.contenth1 p {
    display: flex;
    justify-content: center;
    color: #9e9e9e;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.icon1 {
    transition: ease-in 500ms;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    max-width: 200px;
    border-radius: 5px;
    padding: 25px 15px;
}

.icon1:hover {
    background-color: #f1f1f1;
    transform: scale(2);
    cursor: pointer;
    color: #4ebceb;
    transition: ease-in 500ms;
}

.icon1 h3 {
    font-weight: 500;
}

.footer1 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgb(102, 102, 102);
    color: white;
    align-items: center;
}