.topnav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("https://images.pexels.com/photos/4084979/pexels-photo-4084979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    width: 100%;
    height: 75px;
}

/* Style the text inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    transition-duration: 0.4s;
}

.topnav a:hover {
    background-color: white;
    color: black;
    opacity: 1;
}

.navLinks {
    margin: auto;
    display: inline-flex;
    justify-content: space-evenly;
}

.navLogo {
    display: flex;

    margin: 0 20px;
}

.navLogo p {
    margin: auto;
    font-size: larger;
    color: white;
    font-weight: 100;
    padding: 0 20px;
}

.navLogout {
    display: flex;
}

.navLogout button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    opacity: 1;
    border: hidden;
    padding: 0px 20px;
    margin: 0px 10px;
}

.navLogout button:hover {
    background-color: white;
    color: black;
    opacity: 1;
    cursor: pointer;
}

.navLogout p {
    color: white;
}

#alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40px;
    bottom: 30px;
    z-index: 1;
    background-color: tomato;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 25px;
    box-shadow: 2px 2px 8px #353535;
	-webkit-animation: heartbeat 1.7s ease-in-out infinite both;
	        animation: heartbeat 1.7s ease-in-out infinite both;
}

#alert :hover {
    cursor: pointer;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  