.topnav {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("https://images.pexels.com/photos/4084979/pexels-photo-4084979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    background-color: #4ebbeb;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
}

/* Style the text inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    transition-duration: 0.4s;
}

.topnav a:hover {
    background-color: white;
    color: black;
    opacity: 1;
}

.navLinks {
    margin: auto;
    display: inline-flex;
    justify-content: space-evenly;
}

.navLogo {
    display: flex;
    margin: 0 20px;
}

.navLogo p {
    margin: auto;
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 0 20px;
}

.navLogout {
    display: flex;
}

.navLogout button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    opacity: 1;
    border: hidden;
    padding: 0px 20px;
    margin: 0px 10px;
}

.navLogout button:hover {
    background-color: white;
    color: black;
    opacity: 1;
    cursor: pointer;
}

.navLogout p {
    color: white;
}
