#diaryParent {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    width: 450px;
}

#diaryTop {
    color: white;
    font-weight: bold;
    padding: 18px;
    background: linear-gradient(110deg, rgba(199, 188, 204, 1) 20%, rgba(67, 127, 175, 1) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

.newHeader {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.40);
}

.todIcon {
    width: 50px;
    padding: 10px;
}

.diaryTitle {
    padding: 10px;
    font-size: 30px;
}

.report {
    padding: 10px;
    font-size: 20px;
}