.recordsContainer {
    display: flex;
}

.cards {
    padding: 10px;
}

/* FRONT OF CARD CSS */
#cardFront {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 430px;
    width: 280px;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(251, 251, 251);
}

#cardFront h1 {
    align-self: center;
    color: black;
    margin: 0%;
    border-bottom: solid slategray 1px;
    width: 250px;
    height: 50px;
}

#cardFront h3 {
    align-self: center;
    color: black;
    margin: 0%;
    border-bottom: solid slategray 1px;
    width: 250px;
    height: 50px;
}

#date-front {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0%;
}

#feeling {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#emote {
    font-size: 4em;
}

#averageText {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#tap {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

p {
    margin: 0%;
}

/* BACK OF CARD CSS */
#cardBack {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 430px;
    width: 280px;
    border-radius: 5%;
    background-color: rgb(251, 251, 251);
}

#cardBack h1 {
    align-self: center;
    color: black;
    margin: 0%;
    width: 250px;
    height: 50px;
    text-align: center;
    margin: 5px;
}

#cardBack h3 {
    align-self: center;
    color: black;
    margin: 0%;
    width: 250px;
    height: 50px;
}

#date-back {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#times {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 28px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#time {
    font-size: 20px;
    padding-top: 1px;
}

#dayIcon {
    padding-left: 10px;
    padding-right: 0px;
}

#nightIcon {
    padding-left: 12px;
    padding-right: 0px;
    font-size: 25px;
}

#symptoms {
    font-size: 11px;
}

#logs {
    display: inline-flex;
    align-self: center;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border-radius: 5%;
    height: 390px;
    width: 250px;
}

#dayIcon {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

#tapBack {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding-bottom: 25px;
}