.cardContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.cardContainer h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

.swipeContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#aboutRecords {
    text-align: center;
}